html {
  min-height: 100vh;
  max-width: 100vw;
  font-size: 100%;
}
@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
  .download-images {
    width: 7.8rem;
    aspect-ratio: initial;
  }
  .feature-images {
    width: 3.25rem;
    aspect-ratio: 1;
  }
  .vajra-logo {
    width: 4.5rem;
    aspect-ratio: initial;
  }
}
body {
  min-height: 100vh;
  margin: 0;
}
#root {
  min-height: 100vh;
}
.feature-images {
  width: 5.5rem;
  aspect-ratio: 1;
}
.download-images {
  width: 11.5rem;
  aspect-ratio: initial;
}
